.item{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'PT Sans', sans-serif;
}

.item:hover {
    background-color: #bdc3c7;
  }