.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    width: 950px;
    height: 100px;
    display: flex;
    justify-content: right;
    gap: 50px;
    align-items: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.nav a{
    text-decoration: none;
    color: gray;
    font-family: 'PT Sans', sans-serif;
}

nav .active{
    color: red;
}